*.jpg
*.pyc
*.pt
*.pth
*.onnx

firecontrol_detection/runs/*/*/*

firecontrol_classification/checkpoints/
firecontrol_classification/Result/


#classify_metric_learning/
#!classify_metric_learning/classify.py